@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Syncopate:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.container {
  margin: 300px auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f2fd;
  border-radius: 15px;
}

/* .card {
  flex: 1;
  margin: 30px;
  width: 300px;
  height: 400px;
  text-align: left;
  text-align: center;
  } */

.card {
  flex: 1;
  text-align: left;
  max-width: 400px;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px#c9c0c0;
}

.one {
  background-color: #fff;
}

.two {
  background-color: #202842;
  color: #fff;
}

.three {
  background-color: #fff;
}

h1 {
  font-size: 55px;
}

h2 {
  margin-top: 10px;
  font-size: 30px;
}
p {
  line-height: 20px;
  font-size: 20px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #202842;
  color: #fff;
}

.two > button {
  background-color: #fff;
  color: #202842;
  font-weight: bolder;
}

@media (max-width: 1024px) {
  .container {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin-top: 15px;
    width: 400px;
    height: 300px;
  }
}
